body{
    padding-left: 250px;
    justify-content: center;
}

#imagem{
    height: 300px;
    width: 200px;
    border-radius: 15px;
    padding-left: 5px;
    padding-right:5px;
}


.tudo{
    width: 80%;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
    border: 2px solid;
}

#inicio{
    background-color: rgb(40, 19, 54);
    color: white;    	
}

.direita{
    padding-bottom: 10px;
    float: left;
    width: 79%;
    background-color: rgb(40, 19, 54) ;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

.direita2{
    padding-bottom: 10px;
    float: left;
    width: 79%;
    background-color:white ;
    color: rgb(40, 19, 54);
    font-family: "Times New Roman", Times, serif;
}

.img{
    float: left;
    clear:both;    
}

.esquerda{
    padding-top: 10px;
    padding-bottom: 20px;
    float: left;
    width: 100%;
    background-color: rgb(40, 19, 54) ;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

.esquerda2{
    padding-top: 10px;
    padding-bottom: 20px;
    float: left;
    width: 100%;
    background-color:white ;
    color: rgb(40, 19, 54);
    font-family: "Times New Roman", Times, serif;
}

.esquerdaB{
    padding-top: 10px;
    padding-bottom: 30px;
    float: left;
    width: 50%;
    background-color: rgb(40, 19, 54) ;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

.direitaB{
    padding-top: 10px;
    padding-bottom: 30px;
    float:right;
    width: 50%;
    background-color:white ;
    color: rgb(40, 19, 54);
    font-family: "Times New Roman", Times, serif;
}

 .unica{
    clear: both; 
	background-color: #000000;
	height: 2px;
 }

.unica2{
    clear: both;
    background-color: white;
    height: 2px;
}
 