section{
    background-color: rgb(228, 248, 241);
}


header{
    font-size: 50px;
}

label{
    border: solid 2px black;
    background-color: white;
}

form{
    border:  solid black 2px ;
    background-color: white;
}

.fundo{
    background-color: rgb(45, 121, 96);
}

.img{
    padding-left: 180px;
    height: 270px;
}
